# Python
__pycache__/
*.pyc
*.pyo
*.pyd
.Python
env/
venv/
.env
.venv

# Jupyter Notebook
.ipynb_checkpoints

# Dataset (Large files)
src/data/flowers-102/102flowers.tgz
src/data/flowers-102/imagelabels.mat
src/data/flowers-102/setid.mat

# Models
*.pth
*.h5

# OS specific
.DS_Store
Thumbs.db
*.pt
